.gameInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  height: 35vh;

  &__one {
    display: flex;
    font-size: 1.9rem;
    font-weight: 700;

    .vs {
      margin: 0 2.5rem;
    }

    @media (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.9rem;
    }
  }
  &__two {
    font-size: 2.81rem;
    font-weight: 700;
    color: #0cb10c;
    text-transform: uppercase;

    &.scissors {
      color: #e31542ed;
    }
    &.paper {
      color: #16c359;
    }
    &.rock {
      color: #2680ea;
    }
  }

  &__prize {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__amount {
    color: #fff;
  }

  &__names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;

    .playerName {
      font-size: 2.5rem;
      color: #fff;
      text-transform: uppercase;
      @media (max-width: 900px) {
        font-size: 2rem;
      }
    }
    .playerType {
      color: #d8db1c;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
}
