.gameInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  height: 35vh;

  &__one {
    display: flex;
    font-size: 30px;
    font-weight: 700;

    .vs {
      margin: 0 40px;
    }
  }
  &__two {
    font-size: 45px;
    font-weight: 700;
    color: #0cb10c;
    text-transform: uppercase;

    &.scissors {
      color: #e31542ed;
    }
    &.paper {
      color: #16c359;
    }
    &.rock {
      color: #2680ea;
    }
  }

  &__prize {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__amount {
    color: #fff;
  }

  &__names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;

    .playerName {
      font-size: 40px;
      color: #fff;
      text-transform: uppercase;
    }
    .playerType {
      color: #d8db1c;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
