.betPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  //flex-grow: 5;
  height: 45vh;

  font-weight: 700;

  .betContainer {
    display: flex;
    column-gap: 30px;
    &.disableMove {
      cursor: not-allowed;
    }
  }
}
