.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: rgb(29, 29, 29);
  background: linear-gradient(
    0deg,
    rgba(29, 29, 29, 1) 0%,
    rgba(72, 72, 72, 1) 100%
  );
  color: #c5a676;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  /* height: 30px; */
  height: 5vh;
  background-color: #161616;
  border: 1px solid #000;
  text-transform: uppercase;
  font-weight: 700;
}
.header span {
  color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  //flex-grow: 3;
  height: 20vh;
  border: 1px solid #08ee08;
}

.footer button {
  width: 190px;
  height: 80px;
  color: #c5a676;
  font-size: 1.7rem;
  background-color: #070707;
  border-radius: 50px;
  border: 2px solid #c5a676;
  cursor: pointer;
}
